html, body, #mapbox-container { 
    height: 100%;
}

#map { 
    display: inline-block;
    width: 100%; 
    height: 75%;
}

.btn-group {
    margin-bottom: 3px;
}

#x3dom-x3dElement-canvas {
    width: 100% !important;
    height: 47% !important;
}

#x3dElement {
    width:80%; 
    left:10%;
}